.top-inner .thi{color: #66a738;}
.banner{
	clear:both;
	padding-bottom: 30px;
	height: 336px;
}
.left{
	float:left;
}
video{
	float:left;
	margin:0 10px;
	height:336px; 
	width:448px;
}
.right{float:left;}
.banner .thi,.for,.fir,.sec{
	width: 246px;
	height: 165px;
	box-shadow: 0px 0px 2px 3px #041b24 inset;
}
.banner .thi{margin-bottom: 6px;background-image: url(../images/game1.jpg);}
.banner .for{background-image: url(../images/game3.jpg);}
.banner .fir{margin-bottom: 6px;background-image: url(../images/game2.jpg);}
.banner .sec{background-image: url(../images/game4.jpg);}
.banner a{
	text-decoration: none;
	width: 246px;
	height: 165px;
	display:block;
	color:#fbee0d;
	text-align: center;
	line-height: 165px;
	font-size: 32px;
	background-color: rgba(0,0,0,0);
	transition:all 1s;
}
.banner a:hover{
	background-color: rgba(0,0,0,0.5);
}
.head{
	clear:both;
	height: 22px;
	margin-bottom: 10px;
}
.head p{
	float: right;
}
.head h3{
	float:left;
	color:#fbee0d;
	font-weight: normal;
}
.head p a{
	text-decoration: none;
	color:#00a5e5;
	transition:all 1s;
}
.head p a:hover{
	color:#fbee0d;
}
.content img{
	margin-top: 22px;
}

.main{
	clear:both;
	height: 446px;
}
.pic1,.pic2,.pic3,.pic4,.pic5,.pic6{
	float:left;
	border:10px solid #041b24;
}
.main .pic1,.pic2,.pic3,.pic4,.pic5,.pic6{
	width: 285px;
	height: 166px;
	margin-top: 22px;
	transition:all 1s;
}
.main .pic1{background-image: url(../images/gamemain1.jpg);}
.main .pic2{background-image: url(../images/gamemain2.jpg);}
.main .pic3{background-image: url(../images/gamemain3.jpg);}
.main .pic4{background-image: url(../images/gamemain4.jpg);}
.main .pic5{background-image: url(../images/gamemain5.jpg);}
.main .pic6{background-image: url(../images/gamemain6.jpg);}
.main .pic2,.pic5{
	margin-left: 22px
	;margin-right: 23px;
}
.main .pic1:hover{background-image: url(../images/gamemain1.png);}
.main .pic2:hover{background-image: url(../images/gamemain2.png);}
.main .pic3:hover{background-image: url(../images/gamemain3.png);}
.main .pic4:hover{background-image: url(../images/gamemain4.png);}
.main .pic5:hover{background-image: url(../images/gamemain5.png);}
.main .pic6:hover{background-image: url(../images/gamemain6.png);}