.top-inner .for{
	color: #66a738;
}
.head{clear:both;
	height: 22px;
	margin-bottom: 10px;
}
.head p{
	float: right;
}
.head h3{
	float:left;
	color:#fbee0d;
	font-weight: normal;
}
.head p a{
	text-decoration: none;
	color:#00a5e5;
	transition:all 1s;
}
.head p a:hover{
	color:#fbee0d;
}
.banner{
	width: 960px;
	height: 236px;
	padding-top:20px;
}
.banner .pic{
	width: 216px;
	height: 216px;
	float: left;
	margin-right: 32px;
	overflow: hidden;
	box-shadow: 0 0 10px 2px #041b24 inset;
	position: relative;
}
.banner .nor{
	margin-right: 0;
}
.banner img{
	transition:all 1s;
	transform:scale(0.9,0.9);
	opacity: 1;
}
.banner p{
	position: absolute;
	top:220px;
	left: 0px;
	color: #fff;
	font-size: 24px;
	background-color: rgba(100,100,100,0.7);
	width: 216px;
	text-align: center;
	transition:all 1s;
}
.banner .pic:hover img{
	transform:scale(1,1);
	opacity: 0.5;
}
.banner .pic:hover p{
	top:152px;
}
.main{clear:both;
	margin-top: 20px;
}
.main .duan{
	width: 300px;
}
.left h3{
	margin-bottom: 10px;
	color:#00a5e5;
	font-weight: normal;
}
.left span h3{
	color:#fbee0d;
	margin-top:30px;
}
.left{float: left;
	width: 300px;
	margin-right: 29px;
}
.left p{
	color:#bbc3c8;
	margin-top:8px;
	line-height: 24px;
}
.right{float: left;
		width: 594px;
		border:1px solid #223f48;
		height: 594px;
		background-color: rgba(4,41,56,0.5);
		padding: 17px;
		margin-bottom: 30px;
}
.first,.second,.third,.forth{
	width: 292px;height: 292px;
}
.first{float: left;margin-right: 10px;background-image: url(../images/hobby1.png);}
.second{float: right;background-image: url(../images/hobby2.png);}
.third{float: left;margin-top: 10px;background-image: url(../images/hobby3.png);}
.forth{float: right;margin-left: 10px;margin-top: 10px;background-image: url(../images/hobby4.png);}
.right h1{color:#fff;font-weight: normal;margin:20px;}
.right img{float:left;margin: 20px;padding-bottom: 40px;transition:transform 1s;}
.right .forth:hover img{
	transform:rotateY(180deg);
}
.right .first:hover img{
	transform:rotateY(180deg);
}
.right .second:hover img{
	transform:rotateY(180deg);
}
.right .third:hover img{
	transform:rotateY(180deg);
}
.right p{
	margin-right: 20px;
	color:#fff;
	line-height: 24px;
}