*{margin:0;}
.top{
	text-align: center;
	background-color: lightseagreen;
	padding-top: 30px;
	padding-bottom: 30px;
}
.top h1,h3{
	color:#fff;
}
.top h3{
	margin-top: 20px;
}
.top a{
	text-decoration: none;
	color:#ddd;
}
.footer{
	text-align: center;
	background-color: lightseagreen;
	padding-top: 30px;
	padding-bottom: 30px;
	color:#fff;
	font-weight: normal;
}