*{
	margin:0;
	box-sizing:border-box;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.top{
	text-align: center;
	background-color: lightseagreen;
	padding-top: 30px;
	padding-bottom: 30px;
}
.top h1,h3{
	color:#fff;
}
.top h3{
	margin-top: 20px;
}
.top a{
	text-decoration: none;
	color:#ddd;
}
.footer{
	text-align: center;
	background-color: lightseagreen;
	padding-top: 50px;
	padding-bottom: 50px;
	color:#fff;
	font-weight: normal;
	font-size: 24px;
	line-height: 48px;
}