<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/littlelogo.png">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="../css/index.css">
	<title>钮旭明的个人博客</title>
</head>
<body>
	<div class="top">
		<div class="button"><a href="http://newming.github.io">T</a></div>
	</div>
	<br>
	<h1 style="text-align:center">{{ page.title }}</h1>
	<br>
	<div class="blogs">
  		{{ content }}
  	</div>
  	<br>
</body>
</html>