/*common   css*/
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
body{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	-webkit-overflow-scrolling:touch; /*流畅滚动手机端*/
	color:#555;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	list-style-position: inside;
}
a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
}
a, img {
    -webkit-touch-callout: none; /*禁止长按链接与图片弹出菜单*/
}

/*section css*/

.navbar{
	height: 60px;
	width: 100%;
	background-color: lightseagreen;
	text-align: center;
	line-height: 60px;
	font-size: 2rem;
}
.wrapper{
	margin: 0 auto;
	max-width: 960px;
}